body {
  font-family: $font-inter;
  font-size: 14px;
  color: $white-color;
  background-color: $blue-color;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-inline: auto;
  padding-inline: 15px;
}

a {
  color: $white-color;
}

section {
  @include section-padding-y;
}