// fonts
$font-inter: 'Inter', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// colors
$white-color: #fff;
$grey-color: #333333;
$grey-color-light: #d9d9d9;
$blue-color: #07203F;
$brown-color: #D9AA90;
$black-color: #000;